include header
  include logo
    include nav
    #content
    -var items=["we are the one","we can build universe","we program human civilization"]
        each item in items
            li=item
    include footer