body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#logo {
  margin: 0px;
}
img,
#container {
  width: 500px;
  margin: 0 auto;
  border: 2px solid #808080;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 2px 2px;
}
ul {
  list-style: none;
  width: 300px;
  margin: 0 auto;
}
ul a {
  text-decoration: none;
  float: left;
  padding: 6px;
  font-size: 1.5em;
  background-color: #e0e0e0;
  color: #000;
  font-family: monospace;
}
ul a:hover {
  background-color: #000;
  color: #e0e0e0;
}
.clear {
  clear: both;
}
#content p {
  text-align: center;
  margin: 0 auto;
  color: #808080;
}
div#form {
  width: 200px;
  margin: 0 auto;
}
li {
  list-style: none;
  text-align: center;
}
p#click {
  display: block;
  background: #000;
  text-align: center;
}
p#click:hover {
  font-size: 30px;
}
#footer p {
  text-align: center;
}
